.borrow-page {
    background-color: #83687b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .borrow-page .overlap-wrapper {
    background-color: #83687b;
    /* height: 2137px; */
    height:100%;
    width: 1440px;
  }
  
  .borrow-page .overlap {
    /* height: 2137px; */
    height: 100%;
    position: relative;
    width: 1439px;
  }
  
  .borrow-page .rectangle {
    background-color: #ffffff;
    border-radius: 20px;
    /* height: 2137px; */
    height: 100%;
    left: 188px;
    position: absolute;
    top: 0;
    width: 1065px;
  }
  
  .borrow-page .nav-bg {
    height: 220px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1439px;
  }
  
  .borrow-page .div {
    background-color: #c39bb752;
    border: 1px solid;
    border-color: #000000;
    filter: blur(30px);
    /* height: 1808px; */
    height: 100%;
    left: 246px;
    position: absolute;
    top: 235px;
    width: 948px;
  }
  
  .borrow-page .text-wrapper {
    color: #644f52;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 278px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 801px;
  }
  
  .borrow-page .group {
    height: 468px;
    left: 278px;
    position: absolute;
    top: 274px;
    width: 893px;
  }
  
  .borrow-page .overlap-group {
    background-color: #ffffff;
    border-radius: 15px;
    height: 468px;
    position: relative;
    width: 885px;
  }
  
  .borrow-page .text-wrapper-2 {
    color: #644f52;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 318px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 62px;
  }
  
  .borrow-page .form-control {
    color: #7a2640;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: 360px;
    letter-spacing: 0.2px;
    line-height: 24px;
    position: absolute;
    top: 241px;
    white-space: nowrap;
  }
  
  .borrow-page .form-control-2 {
    color: #7a2640;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: 360px;
    letter-spacing: 0.2px;
    line-height: 24px;
    position: absolute;
    top: 286px;
    white-space: nowrap;
  }
  
  .borrow-page .form-control-3 {
    color: #7a2640;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: 360px;
    letter-spacing: 0.2px;
    line-height: 24px;
    position: absolute;
    top: 329px;
    white-space: nowrap;
  }
  
  .borrow-page .frame {
    height: 24px;
    left: 525px;
    position: absolute;
    top: 241px;
    width: 261px;
  }
  
  .borrow-page .form-control-4 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.2px;
    line-height: 24px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .borrow-page .form-control-wrapper {
    height: 24px;
    left: 525px;
    position: absolute;
    top: 286px;
    width: 133px;
  }
  
  .borrow-page .div-wrapper {
    height: 24px;
    left: 525px;
    position: absolute;
    top: 329px;
    width: 66px;
  }
  
  .borrow-page .frame-2 {
    background-image: url(./img/SajidCover.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 230px;
    left: 90px;
    position: absolute;
    top: 182px;
    width: 165px;
  }
  
  .borrow-page .frame-3 {
    background-color: #ffffff;
    border-radius: 15px;
    height: 351px;
    left: 278px;
    position: relative;
    top: 868px;
    width: 885px;
    margin-bottom: 20px;
  }
  
  .borrow-page .form-control-5 {
    color: #7a2640;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: 269px;
    letter-spacing: 0.2px;
    line-height: 24px;
    position: absolute;
    top: 124px;
    white-space: nowrap;
  }
  
  .borrow-page .frame-4 {
    height: 24px;
    left: 530px;
    position: absolute;
    top: 125px;
    width: 305px;
  }
  
  .borrow-page .borrow-this-book-wrapper {
    background-color: #c4b9ba7d;
    border: 10px solid;
    border-color: #4f1b1d73;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000040;
    height: 73px;
    left: 622px;
    position: absolute;
    top: 23px;
    width: 235px;
  }
  .borrow-page .borrow-this-book-wrapper:hover {
    transform: scale(1.2);
        transition: 0.3s;
  }
  
  .borrow-page .borrow-this-book {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 19px;
    font-weight: 700;
    height: 29px;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 158px;
  }
  
  .borrow-page .frame-5 {
    background-image: url(./mask-group.png);
    background-size: 100% 100%;
    height: 198px;
    left: 35px;
    position: absolute;
    top: 50px;
    width: 196px;
  }
  
  .borrow-page .frame-6 {
    height: 54px;
    left: 270px;
    position: absolute;
    top: 266px;
    width: 360px;
  }
  
  .borrow-page .frame-7 {
    height: 24px;
    left: 272px;
    position: absolute;
    top: 15px;
    width: 88px;
  }
  
  .borrow-page .overlap-group-2 {
    height: 54px;
    left: 0;
    position: absolute;
    top: 0;
    width: 260px;
  }
  
  .borrow-page .frame-8 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-9 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 51px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-10 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 102px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-11 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 153px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-12 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 204px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .form-control-6 {
    color: #7a2640;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: 270px;
    letter-spacing: 0.2px;
    line-height: 24px;
    position: absolute;
    top: 171px;
    white-space: nowrap;
  }
  
  .borrow-page .form-control-7 {
    color: #7a2640;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: 269px;
    letter-spacing: 0.2px;
    line-height: 24px;
    position: absolute;
    top: 218px;
    white-space: nowrap;
  }
  
  .borrow-page .frame-13 {
    height: 24px;
    left: 531px;
    position: absolute;
    top: 172px;
    width: 83px;
  }
  
  .borrow-page .frame-14 {
    height: 24px;
    left: 530px;
    position: absolute;
    top: 219px;
    width: 120px;
  }
  
  .borrow-page .frame-15 {
    background-color: #ffffff;
    border-radius: 15px;
    height: 351px;
    left: 278px;
    position: absolute;
    top: 1261px;
    width: 885px;
  }
  
  .borrow-page .frame-16 {
    background-image: url(./mask-group.png);
    background-size: 100% 100%;
    height: 198px;
    left: 35px;
    position: absolute;
    top: 50px;
    width: 196px;
  }
  
  .borrow-page .frame-17 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-18 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 51px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-19 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 102px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-20 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 153px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-21 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 204px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-22 {
    height: 24px;
    left: 532px;
    position: absolute;
    top: 172px;
    width: 83px;
  }
  
  .borrow-page .frame-23 {
    background-color: #ffffff;
    border-radius: 15px;
    height: 351px;
    left: 285px;
    position: absolute;
    top: 1654px;
    width: 885px;
  }
  
  .borrow-page .frame-24 {
    background-image: url(./mask-group.png);
    background-size: 100% 100%;
    height: 198px;
    left: 35px;
    position: absolute;
    top: 50px;
    width: 196px;
  }
  
  .borrow-page .frame-25 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-26 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 51px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-27 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 102px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-28 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 153px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-29 {
    background-image: url(./pngwing.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 54px;
    left: 204px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .borrow-page .frame-30 {
    background-color: #361a1e;
    border-radius: 9.08px;
    height: 51px;
    left: 893px;
    position: absolute;
    top: 784px;
    width: 270px;
  }
  
  .borrow-page .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 21.8px;
    font-weight: 500;
    left: 23px;
    letter-spacing: 0.18px;
    line-height: 25.4px;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 225px;
  }
  
  .borrow-page .book-cycle {
    color: #ffffff;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    height: 35px;
    left: 116px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 41px;
    white-space: nowrap;
    user-select: none;
  }
  .borrow-page .frame-30:hover{
    transform: scale(1.2);
    transition: 0.3s;
  } 
  .borrow-page .book-cycle:hover{
    transform: scale(1.2);
    transition: 0.3s;

  }